﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Patient-score</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    @RenderSection("css", false)

    @RenderSection("js", false)

    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap-datepicker.css">

    <script>
    $(function () {




            jQuery("#pfname").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        type: "POST",
                        data: {'fname': request.term},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByFname","Main")",
                        success: function (resp) {

                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.firstname)
                            }

                            response(suggestions);
                         }
                    });
             },
             minLength: 0 // Min length the user has to type
            }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });

             jQuery("#plname").autocomplete({
                source: function (request, response) {

                     var fname = $("#pfname").val()

                    $.ajax({
                        type: "POST",
                        data: {'lname': request.term,'fname':fname},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByLname","Main")",
                        success: function (resp) {

                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.lastname)
                            }

                            response(suggestions);
                         }
                    });
             },
             minLength: 0 // Min length the user has to type
             }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });


            jQuery("#dob_picker").autocomplete({
                source: function (request, response) {

                     var fname = $("#pfname").val()
                     var lname = $("#plname").val()

                    $.ajax({
                        type: "POST",
                        data: {'dob': request.term,'lname': lname,'fname':fname},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByDob","Main")",
                        success: function (resp) {
                            console.log(resp);
                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.dob)
                            }

                            response(suggestions);
                         }
                    });
                },
                 minLength: 0 // Min length the user has to type
             }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });

            $( ".auto-complete-inputs" ).autocomplete( "option", "appendTo", ".eventInsForm" );

    });



        $(document).ready(function() {
  $('[data-toggle="popover"]').popover({
    html: true
  });
});

    </script>

    <style>
        .navbar-nav {
            flex-direction: row;
        }

        .nav-item {
            margin-left: 10px;
            margin-right: 10px;
        }

        .ui-autocomplete-input {
            position: relative;
        }

        .ui-menu .ui-menu-item a {
            font-size: 12px;
        }

        .ui-autocomplete {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1510 !important;
            float: left;
            display: none;
            min-width: 160px;
            width: 160px;
            padding: 4px 0;
            margin: 2px 0 0 0;
            list-style: none;
            background-color: #ffffff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 1px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
        }

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
            text-decoration: none;
        }

        .ui-state-hover, .ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }

        .popover-title {
            text-align: center;
        }

        .custom-popover li {
            border: none !important;
            text-align: center;
        }

            .custom-popover li:nth-child(2) {
                border-top: 1px solid #ccc !important;
            }

            .custom-popover li:last-child {
                border-top: 1px solid #ccc !important;
            }
    </style>

</head>
<body>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Check Patient Score</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="@Url.Action("FindScore","Main")" method="post">

                    <div class="modal-body">


                        <div class="row register-form">
                            <div class="col-md-12">
                                <center>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control auto-complete-inputs" id="pfname" name="firstname" placeholder="Firstname" value="" />
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control auto-complete-inputs" id="plname" name="lastname" placeholder="Lastname" value="" />
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input id='datepicker1' type='text' class="form-control" name="dob" readonly="true" placeholder="Date of Birth" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" style="font-size: 26px;border: 1px solid #acb2b7;padding: 2px;"> <i class="fa fa-calendar"></i></span>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </center>


                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">

                        <input type="submit" class="btn btn-secondary" value="Submit" style="margin-right:24%" />

                    </div>
                </form>

            </div>
        </div>
    </div>





    <!--Navbar -->
    <nav class="mb-1 navbar navbar-expand-lg fixed-top   bg-light">

        <a class="navbar-brand" href="#">
            Patient-Score
        </a>
        <!--

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
        </button>
        -->

        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link " data-toggle="popover" data-trigger="hover" data-content="Loggedin as: @Session["loggedin_doc_firstname"].ToString() @Session["loggedin_doc_lastname"].ToString()">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333" style="
    position: absolute;
    right: 0;
    left: auto;
       ">

                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Find Score</a>

                    <!--

    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal1">Change Cures Password</a>
    -->

                    <a class="dropdown-item" href="@Url.Action("Certificates","Main")">Certificates</a>
                    <a class="dropdown-item" href="@Url.Action("saveas","Main")">Save As PDF</a>

                    <a class="dropdown-item" href="@Url.Action("Logout","Main")">Logout</a>

                </div>
            </li>
        </ul>
    </nav>
    <!--/.Navbar -->
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/datetime-picker.js"></script>

    <div class="container-fluid body-content" style="margin-top:60px">
        @RenderBody()

    </div>


    <script type="text/javascript">

        $("#datepicker1").ionDatePicker({
            lang: "en",                     // language
            sundayFirst: false,             // first week day
            years: "200",                    // years diapason
            format: "MM/DD/YYYY",           // date format
            onClick: function (date) {        // click on day returns date
                console.log(date);
            }

        });



    </script>

</body>
</html>