﻿
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .table-responsive {
        font-size: 0.6rem;
    }
    .container-fluid {
        width: 100%;
        padding-left: 5px;
        padding-right: 6px;
        margin: 0;
        margin-bottom: 40px;
    }


    .chart_info .acr_expand {
        padding: 3px;
        font-size: 14px;
    }

    .chart_info .acr_name {
        padding: 6px;
        font-weight: bold;
        font-size: 14px;
    }
}
