﻿
@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">

        <div class="col-md-3 register-left">
            <!--

    <a href="@Url.Action("Landing","Main")">     <input type="button" value="CANCEL" style="margin-top:10px" /></a>

    <a href="@Url.Action("Landing","Main")">     <input type="button" value="BACK" style="margin-top:10px" /></a>
    -->

        </div>

            <div class="col-md-9 register-right">

                <form action="/main/PatientRecord" method="post" enctype="multipart/form-data">
                    <div class="tab-content" id="myTabContent">
                        @{

                            if (ViewBag.error != null)
                            {
                                <center style="color:blue;margin-top:-4%">  @ViewBag.error</center>
                            }
                        }


                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading"> Upload Patient Treatment Record</h3>
                            <div class="row register-form">
                                <p>File must have .xlsx extension. </p>
                                <div class="col-md-12">



                                    <div>
                                        <input type="file" name="patientFile" class="btn-default" value="Upload" required />
                                    </div>

                                    <div>
                                        <input type="Submit" class="btnRegister" value="Submit" />
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>


