﻿

@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3>Welcome</h3>
            <p></p>
            <a href="@Url.Action("Register","Main")"> <input type="button" name="" value="Register" /> </a><br />
        </div>

        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Provider</a>
                </li>



            </ul>

            <div class="tab-content" id="myTabContent">


                <form action="@Url.Action("ChangePassword","Main")" method="post">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @{
                            if (ViewBag.msg != null)
                            {
                                <center style="color:white;margin-top:-4%">  @ViewBag.msg</center>
                            }
                        }
                        <h3 class="register-heading">Reset Password</h3>

                        <div class="row register-form">

                            <div class="col-md-12">
                         
                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Password *" value="" required />
                                </div>
                                <a href="@Url.Action("landing","Main")" style="float:right">CANCEL</a>
                               
                                 <div>
                                    <input type="submit" class="btnRegister" value="Login" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

