﻿

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/donut.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section  js{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

}





<style type="text/css">
    body {
        overflow-x: hidden !important;
    }

    #myChart_div {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    g[class^='raphael-group-'][class$='-creditgroup'] {
        display: none !important;
    }




    .alert-info {
        color: #215919;
        background-color: #f1f1f1;
    }

    .table thead th {
        white-space: nowrap;
    }

    .patient-info {
        background: whitesmoke;
    }

    .patient-info-label {
        font-weight: bold;
        color: #6165ef;
    }
    .chart_info{

    }
    .chart_info .acr_name{
        padding: 6px;
        font-weight: bold;

    }
    .chart_info .acr_expand{
        padding: 5px;   
    }


    .chart_info .more_info_btn{
        cursor: pointer;

    }


</style>




<form id="form1">
    <script type="text/javascript">
        var podet = "";
        var tableDataSource = null;
        $(document).ready(function () {

            // Data table
            $('#tblEmployee').DataTable({
                "search": { regex: true },
                //"scrollY": 350,
                "scrollX": true,
                "ajax": '/Main/DougnatView',
                "columns": [
                    { "data": "filterElement" },
                    {
                        "data": "colorvalue", render: function (data, type, row) {
                            // Combine the first and last names into a single table field
                            return '<div style="background-color:' + data + ';height: 20px;width: 25px;border-radius: 20px;"> </div>';
                        }
                    },
                    { "data": "drugname" },
                    { "data": "drugStrength" },
                    { "data": "date_filled" },
                    { "data": "date_sold" },
                    { "data": "compact" },
                    { "data": "form" },
                    { "data": "quantity" },
                    { "data": "days_supply" },
                    { "data": "species_code" },
                    { "data": "rx_number" },
                    { "data": "refill_number" },
                    { "data": "refills_authorized" },
                    { "data": "payment_method" },
                    { "data": "prescriber_name" },
                    { "data": "prescription_dea_number" },
                    { "data": "pharmacy_name" },
                    { "data": "pharmacy_number" },
                    { "data": "drug_id" }
                ],
                "columnDefs": [
                    {
                        "targets": [1],
                        "data": null,
                        "defaultContent": "<button>Click!</button>"
                    },
                    {
                        "targets": [0],
                        "visible": false,

                    },

                ]
            });

            /*
            $.ajax({
                url: '/Main/DougnatView',
                dataType: "json",
                method: 'post',
                success: function (data) {

                    var employeeTable = $('#tblEmployee tbody');
                    employeeTable.empty();
                    tableDataSource = data;
                    console.log("data - ", data)
                    $(data).each(function (index, emp) {


                        employeeTable.append('<tr><td>' + emp.drugname + '</td><td>' + emp.drugStrength + '</td><td>' + emp.date_filled + '</td><td>' + emp.date_sold + '</td><td>' + emp.compact + '</td><td>' + emp.form + '</td><td>' + emp.quantity + '</td><td>' + emp.days_supply + '</td><td>' + emp.species_code + '</td><td>' + emp.rx_number + '</td><td>' + emp.refill_number + '</td><td>' + emp.refills_authorized + '</td><td>' + emp.payment_method + '</td><td>' + emp.prescriber_name + '</td><td>' + emp.prescription_dea_number + '</td><td>' + emp.pharmacy_name + '</td><td>' + emp.pharmacy_number + '</td><td>' + emp.drug_id + '</td>');
                    });




                },
                error: function (err) {
                    alert(err);
                }
            });
            */

            var ch = document.getElementById("chart").value;
            $("#lit").html(ch);

        });

        clickHandler = function (e) {

            var drug_type = e.sender.args.dataSource.data[e.data.dataIndex].label;
            //$('#example').DataTable({"iDisplayLength": 100, "search": {regex: true}}).column(1).search("backlog|Stretch|Solid|NIR", true, false ).draw();
            console.log("Color -" + drug_type + ", index- ", e.data.dataIndex)


            if (drug_type.match(/MEDD/g)) {
                $('#tblEmployee').DataTable().column(0).search(
                    "h|m|l", true, false
                ).draw();

            } else if (drug_type.match(/E/g)) {
                $('#tblEmployee').DataTable().column(0).search(
                    'e',
                ).draw();
            } else if (drug_type.match(/L/g)) {
                $('#tblEmployee').DataTable().column(0).search(
                    'l',
                ).draw();
            } else if (drug_type.match(/M/g)) {
                $('#tblEmployee').DataTable().column(0).search(
                    'm',
                ).draw();
            } else if (drug_type.match(/H/g)) {
                $('#tblEmployee').DataTable().column(0).search(
                    'h',
                ).draw();
            } else {


                $('#tblEmployee').DataTable().column(0).search(
                    drug_type,
                ).draw();
            }


        };
    </script>



    <input type="hidden" id="chart" value="@Session["chart"].ToString()" />




    <div class="container-fluid p-0 m-0">
        <div class="row m-1">
            <div class="col-md-4 p-0 m-0 patient-info">
                <div class="row p-2">
                    <div class="col-lg-12">
                        <div class="row p-1">
                            <div class="col-6 col-md-5 patient-info-label">
                                Patient Name
                            </div>
                            <div class="col-md-7 col-6">
                                @ViewBag.PatientName
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row p-1">
                            <div class="col-md-5 col-6 patient-info-label">
                                Dob
                            </div>
                            <div class="col-md-7 col-6">
                                @ViewBag.PatientDob
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="row p-1">
                            <div class="col-md-5 col-6 patient-info-label">
                                Address
                            </div>
                            <div class="col-md-7 col-6">
                                @ViewBag.PatientAddress
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-8 p-0 m-0">
                <div class="chart_info">
                    <span class="acr_expand">Patient Score</span>-<span class="acr_name">@ViewBag.PatientScore</span>


                    <a class="more_info_btn" href="#" data-html="true" data-trigger="hover" data-placement="bottom" data-toggle="popover" title="Explanation of acronyms" data-content="<div>E : Empty potency drugs</div><div>H : High potency drugs</div><div>L : Low potency drugs</div><div>M : Medium potency drugs</div>"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                    <!-- loaded popover content -->
                    <span class="acr_expand">MEDD Score</span>-<span class="acr_name">@ViewBag.Medd</span>

                </div>
                <div id="lit" style="overflow:scroll;overflow-y:hidden;border: 1px solid #dae1e6;height:200px;">

                </div>

                
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <table id="tblEmployee" class="table table-hover " style="width:100%">
                    <thead>
                        <tr>
                            <th>filter_element</th>
                            <th>Color</th>
                            <th>DrugName</th>
                            <th>Drug Strength</th>
                            <!--
                             <th scope="col">Patient Name</th>

                            -->

                            <th> Date Filled </th>
                            <th> Date Sold  </th>
                            <th> Compact </th>
                            <th> Form </th>
                            <th> Quantity </th>
                            <th> Days Supply </th>
                            <th> Species Code </th>
                            <th> RX Number </th>
                            <th> Refill Number </th>
                            <th> Refills Authorized </th>
                            <th> Payment Method </th>
                            <th> Prescriber Name </th>
                            <th> Prescription Dea_number  </th>
                            <th> Pharmacy Name </th>
                            <th> Pharmacy Number </th>
                            <th> Drug ID </th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>


    </div>
</form>

