﻿@section css {
    <link href="~/signupstyle.css" rel="stylesheet" />


}


<script>
    $(function () {




            jQuery("#pfname1").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        type: "POST",
                        data: {'fname': request.term},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByFname", "Main")",
                        success: function (resp) {

                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.firstname)
                            }

                            response(suggestions);
                         }
                    });
             },
             minLength: 0 // Min length the user has to type
            }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });

             jQuery("#plname1").autocomplete({
                source: function (request, response) {

                     var fname = $("#pfname1").val()

                    $.ajax({
                        type: "POST",
                        data: {'lname': request.term,'fname':fname},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByLname", "Main")",
                        success: function (resp) {

                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.lastname)
                            }

                            response(suggestions);
                         }
                    });
             },
             minLength: 0 // Min length the user has to type
             }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });


            jQuery("#dob_picker1").autocomplete({
                source: function (request, response) {

                     var fname = $("#pfname1").val()
                     var lname = $("#plname1").val()

                    $.ajax({
                        type: "POST",
                        data: {'dob': request.term,'lname': lname,'fname':fname},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientByDob", "Main")",
                        success: function (resp) {
                            console.log(resp);
                            var data=resp.data
                            var suggestions = []
                            for (i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.dob)
                            }

                            response(suggestions);
                         }
                    });
                },
                 minLength: 0 // Min length the user has to type
             }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
             });

            $( ".auto-complete-inputs" ).autocomplete( "option", "appendTo", ".eventInsForm" );



        });

    function form_submit() {
         // your code here
        $("body").css("cursor", "progress");

        $("#submitBtn").prop("disabled", true);
        $("#submitBtn").val("Processing...");
        $("#error_msg").text("Please wait while we are rendering dashboard..");
        $("#submitBtn").css("background", "grey");

    }

</script>

<!-- The Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cures credentials</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form action="@Url.Action("CuresCredentials","Main")" method="post">

                <!-- Modal body -->
                <div class="modal-body">


                    <div class="row register-form">
                        <div class="col-md-12">
                            <center>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cures_userid" placeholder="Cures userid" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="cures_password" placeholder="Cures password" />
                                    </div>
                                </div>


                            </center>


                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                    <input type="submit" class="btn btn-secondary" value="Submit" style="margin-right:24%" />

                </div>
            </form>

        </div>
    </div>
</div>


<div class="container register">




    <div class="row">
        <div class="col-md-3 register-left">
        </div>
        <div class="col-md-9 register-right">

            <form id="myform" action="@Url.Action("FindScore","Main")" method="post" onsubmit="form_submit()">
                <div class="tab-content" id="myTabContent">
                    @{
                        if (ViewBag.cures_userid != null)
                        {
                            <!--
                <center style="color: blue;margin-top: 1rem;"> @ViewBag.cures_userid , @ViewBag.cures_password</center>

                -->



                        }
                    }
                    <center style="color: blue;margin-top: 1rem;" id="error_msg">  @ViewBag.msg</center>

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                        <h3 class="register-heading"> Check Patient Score</h3>

                        <div class="row register-form">

                            <div class="col-md-12">
                                <center>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="pfname1" name="firstname" placeholder="Firstname" value="" />
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="plname1" name="lastname" placeholder="Lastname" value="" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class='input-group date'>
                                                <input id='datepicker' type='text' class="form-control" name="dob" readonly="true" placeholder="Date of Birth" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar" style="font-size: 26px;border: 1px solid #acb2b7;padding: 2px;"> <i class="fa fa-calendar"></i></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </center>

                                <div>
                                    <input type="submit" class="btnRegister" value="Submit" style="margin-right:24%" id="submitBtn" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    @{
        if (ViewBag.cures_userid == null)
        {
            <script>
            console.log("Cookie is not created")
            $('#myModal1').modal('show');

            </script>
        }
        else
        {
            <script>
            console.log("Cookie already created");

            </script>
        }
    }
   
    <script type="text/javascript">

        $("#datepicker").ionDatePicker({
            lang: "en",                     // language
            sundayFirst: false,             // first week day
            years: "200",                    // years diapason
            format: "MM/DD/YYYY",           // date format
            onClick: function (date) {        // click on day returns date
                console.log(date);
            }

        });



    </script>
