﻿
@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
          $(function () {
         jQuery("#pid").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        type: "POST",
                        data: {'pid': request.term},
                        dataType: 'json',
                        url: "@Url.Action("SearchPatientById","Main")",
                        success: function (resp) {
                            console.log(resp)
                            var data=resp.data
                            var suggestions = []
                            for (var i = 0; i < data.length; i++) {
                               precord= data[i];
                                suggestions.push(precord.patient_id)
                            }

                            response(suggestions);
                         }
                    });
             },
             minLength: 0 // Min length the user has to type
            }).focus(function() {
                    $(this).autocomplete("search", $(this).val());
            });
        });

    </script>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
           
            <a href="@Url.Action("Login","Main")">     <input type="button" value="Login" /><br /></a>
        </div>
        <div class="col-md-9 register-right">

            <form action="@Url.Action("generatescore","Main")" method="post">
                <div class="tab-content" id="myTabContent">
                    @{
                        if (ViewBag.msg != null)
                        {
                            <center style="color:white;margin-top:-4%">  @ViewBag.msg</center>
                        }
                    }
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                        <h3 class="register-heading"> Generated Patient Score</h3>
                        <div class="row register-form">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="pid" name="pid" placeholder="PatientId" value="" required />
                                </div>


                                <div>
                                    <input type="submit" class="btnRegister" value="Submit" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

