﻿

@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <a href="@Url.Action("DeletePatientData","Main")">     <input type="button" value="Empty Patient Data" style="margin-top:10px" /><br /></a>

            <a href="@Url.Action("Droptable","Main")">     <input type="button" value="Empty All Drugs Table" style="margin-top:10px" /><br /></a>
            <a href="@Url.Action("Landing","Main")"><input type="button" value="Back" style="margin-top:10px" /></a>

        </div>
        <div class="col-md-9 register-right">

            <form action="@Url.Action("PostFile","Main")" method="post" enctype="multipart/form-data">
                <div class="tab-content" id="myTabContent">
                    @{
                        if (ViewBag.msg != null)
                        {
                            <center style="color:white;margin-top:-4%">  @ViewBag.msg</center>
                        }
                    }
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading"> Upload  Drug</h3>
                        <div class="row register-form">
                            <p>File must have .csv extension. </p>
                            <div class="col-md-12">



                                <div>
                                    <input type="file" class="btn-default" value="Upload" name="csv" required />
                                </div>

                                <div>
                                    <input type="Submit" class="btnRegister" value="Submit" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>


