﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient_Score</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="CareMed demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/caremed-master/styles/bootstrap4/bootstrap.min.css">
    <link href="/caremed-master/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/caremed-master/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/caremed-master/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/caremed-master/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/caremed-master/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/caremed-master/styles/responsive.css">




</head>
<body>
    <div class="super_container">

        <!-- Header -->
        <header class="header trans_200">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">

                                <div class="emergencies  d-flex flex-row align-items-center justify-content-start ml-auto">Patient-score</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-end">
                                <nav class="main_nav ml-auto">
                                    <ul>
                                        <li><a href="@Url.Action("Login","Main")">Login</a></li>
                                        <li><a href="@Url.Action("Register","Main")">Sign Up</a></li>

                                    </ul>
                                </nav>
                                @*<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>*@
                                <div class="hamburger ml-auto" style="float:right;">
                                    <button class="dropbtn">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-content">
                                     

                                        <a href="@Url.Action("Login","Main")">Login</a>
                                        <a href="@Url.Action("Register","Main")">Sign Up</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Logo -->
            <div class="logo_container_outer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="logo_container">
                                <a href="#">
                                    <div class="logo_content d-flex flex-column align-items-start justify-content-center">
                                        <div class="logo_line"></div>
                                        <div class="logo d-flex flex-row align-items-center justify-content-center">
                                            <div class="logo_text" style="margin-right:25%">Patient<span>-Score</span></div>
                                            @*<div class="logo_box">+</div>*@
                                        </div>
                                        <div class="logo_sub">Drug Monitoring Program</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
       

        @*<!-- Menu -->
        <div class="menu_container menu_mm">
            <!-- Menu Close Button -->
            <div class="menu_close_container">
                <div class="menu_close"></div>
            </div>
            <!-- Menu Items -->
            <div class="menu_inner menu_mm">
                <div class="menu menu_mm">
                    <ul class="menu_list menu_mm">
                        <li class="menu_item menu_mm"><a href="@Url.Action("Index","Main")">Home</a></li>
                        <li class="menu_item menu_mm"><a href="@Url.Action("Login","Main")">Log In</a></li>
                        <li class="menu_item menu_mm"><a href="@Url.Action("Register","Main")">Signup</a></li>

                    </ul>
                </div>
                <div class="menu_extra">
                    <div class="menu_appointment"><a href="#">Request an Appointment</a></div>
                    <div class="menu_emergencies">For Emergencies: +563 47558 623</div>
                </div>
            </div>
        </div>*@

        <!-- Home -->
        <div class="home">
            <div class="home_slider_container">
                <!-- Home Slider -->
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(/caremed-master/images/home_background_1.jpg)"></div>
                        <div class="home_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content_inner">
                                            <div class="home_title"><h2>Patient-Score.ai Enhances Prescription Drug Monitoring Program</h2></div>
                                            <div class="home_text">
                                                <p>
                                                    Most states require checking their Prescription Drug Monitoring Program database before prescribing controlled substances. This check provides valuable information. A patient may have prescriptions from other doctors or a history of drug use. Estimates vary, but 5-10% of the US – 15 to 30 million people – have some history of prescription drug abuse.
                                                </p>
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(/caremed-master/images/home_background_1.jpg)"></div>
                        <div class="home_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content_inner">
                                            <div class="home_title"><h2>Patient-Score.ai Enhances Prescription Drug Monitoring Program</h2></div>
                                            <div class="home_text">
                                                <p>
                                                    Most states require checking their Prescription Drug Monitoring Program database before prescribing controlled substances. This check provides valuable information. A patient may have prescriptions from other doctors or a history of drug use. Estimates vary, but 5-10% of the US – 15 to 30 million people – have some history of prescription drug abuse.
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Item -->
                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(/caremed-master/images/home_background_1.jpg)"></div>
                        <div class="home_content">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_content_inner">
                                            <div class="home_title"><h2>Patient-Score.ai Enhances Prescription Drug Monitoring Program</h2></div>
                                            <div class="home_text">
                                                <p>
                                                    Most states require checking their Prescription Drug Monitoring Program database before prescribing controlled substances. This check provides valuable information. A patient may have prescriptions from other doctors or a history of drug use. Estimates vary, but 5-10% of the US – 15 to 30 million people – have some history of prescription drug abuse.
                                                </p>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Progress -->
                <div class="home_slider_progress"></div>
            </div>
        </div>
        <!-- 3 Boxes -->
        <div class="boxes">
            <div class="container">
                <div class="row">

                    <!-- Box -->
                    <!-- Box -->
                    <!-- Box -->

                </div>
            </div>
        </div>
        <!-- Departments -->
        @*<div class="departments">
            <div class="departments_background parallax-window" data-parallax="scroll" data-image-src="/caremed-master/images/departments.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title section_title_light"><h2>Our Medical Departments</h2></div>
                    </div>
                </div>
                <div class="row departments_row row-md-eq-height">

                    <!-- Department -->
                    <div class="col-lg-3 col-md-6 dept_col">
                        <div class="dept">
                            <div class="dept_image"><img src="/caremed-master/images/dept_1.jpg" alt=""></div>
                            <div class="dept_content text-center">
                                <div class="dept_title">plastic surgery</div>
                                <div class="dept_subtitle">Dr. James Smith</div>
                            </div>
                        </div>
                    </div>
                    <!-- Department -->
                    <div class="col-lg-3 col-md-6 dept_col">
                        <div class="dept">
                            <div class="dept_image"><img src="/caremed-master/images/dept_2.jpg" alt=""></div>
                            <div class="dept_content text-center">
                                <div class="dept_title">gastroenterology</div>
                                <div class="dept_subtitle">Dr. Gunter Roscoe</div>
                            </div>
                        </div>
                    </div>
                    <!-- Department -->
                    <div class="col-lg-3 col-md-6 dept_col">
                        <div class="dept">
                            <div class="dept_image"><img src="/caremed-master/images/dept_3.jpg" alt=""></div>
                            <div class="dept_content text-center">
                                <div class="dept_title">dentistry</div>
                                <div class="dept_subtitle">Dr. Maria Williams</div>
                            </div>
                        </div>
                    </div>
                    <!-- Department -->
                    <div class="col-lg-3 col-md-6 dept_col">
                        <div class="dept">
                            <div class="dept_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex.</p>
                            </div>
                            <div class="button dept_button"><a href="#">read more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- Services -->
        
        <!-- Call to action -->
        @*<div class="cta">
            <div class="cta_background parallax-window" data-parallax="scroll" data-image-src="/caremed-master/images/cta.jpg" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cta_content text-center">
                            <h2>Need a personal health plan?</h2>
                            <p>Duis massa massa, mollis vel ullamcorper quis, finibus et urna. Aliquam ac eleifend metus. Ut sollicitudin risus ex</p>
                            <div class="button cta_button"><a href="#">request a plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- Footer -->
        <footer class="footer">
            <div class="footer_container">
                <div class="container">
                    <div class="row">

                        <!-- Footer - About -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_about">
                                <div class="footer_logo_container">
                                    <a href="#" class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="logo_content">
                                            <div class="logo d-flex flex-row align-items-center justify-content-center">
                                                <div class="logo_text">Patient-<span>Score</span></div>
                                                <div class="logo_box"></div>
                                            </div>
                                            <div class="logo_sub"></div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                        </div>
                        <!-- Footer - Links -->
                        <div class="col-lg-4 footer_col">

                        </div>
                        <!-- Footer - News -->
                        <div class="col-lg-4 footer_col">
                            <div class="footer_news footer_column">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">

                                <div class="footer_social ml-lg-auto">
                                    &copy; Copyright 2019 patient-score.com

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/caremed-master/js/jquery-3.2.1.min.js"></script>
    <script src="/caremed-master/styles/bootstrap4/popper.js"></script>
    <script src="/caremed-master/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/caremed-master/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/caremed-master/plugins/easing/easing.js"></script>
    <script src="/caremed-master/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/caremed-master/js/custom.js"></script>

</body>
</html>
