﻿

@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <style>

         
body {
	background: #eee !important;	
}

.container{
    display:flex;
    align-items:center;
    justify-content:center;
     
    height: calc(100vh - 5vh);
}
.wrapper {	


 background-color: #FFFFFF;
width: 400px;
height: 400px;
margin: 7em auto;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-signin {
  padding: 15px 35px 45px;
  background-color: #fff;
  width:100%;
        }
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	

	input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
          margin-top: 10px !important;
    margin-bottom: 20px !important;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
          margin-top: 10px !important;
	}
    .signin-submit{
            border-radius: 5em;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    }
     </style>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container ">

    <div class="wrapper">
        <form action="@Url.Action("Login","Main")" method="post" class="form-signin">
            @{
                if (ViewBag.msg != null)
                {
                    <center style="color:#f36969;margin-top:-4%">  @ViewBag.msg</center>
                }
            }
            <h2 class="form-signin-heading"><center>Welcome</center></h2>
            <input type="email" name="email_address" class="form-control m-1" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control m-1" name="password" placeholder="Password" required="" />

            <button class="btn btn-lg btn-primary btn-block signin-submit" type="submit">Login</button>
            <div class="m-2 p-1">
                <a href="@Url.Action("LostPassword","Main")">FORGET PASSWORD ?</a> <a href="@Url.Action("Register","Main")" style="float:right">SignUp</a>

            </div>

        </form>
    </div>
    <!--

    <div class="row">
        <div class="col-md-3 register-left">
            <a href="@Url.Action("Register","Main")"> <input type="button" name="" value="Register" /> </a><br />
        </div>

        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Provider</a>
                </li>



            </ul>

            <div class="tab-content" id="myTabContent">


                <form action="@Url.Action("Login","Main")" method="post">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @{
                            if (ViewBag.msg != null)
                            {
                                <center style="color:white;margin-top:-4%">  @ViewBag.msg</center>
                            }
                        }
                        <h3 class="register-heading">Login as a Provider</h3>

                        <div class="row register-form">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email_address" class="form-control" placeholder="Your Email *" value="" required />
                                </div>



                            </div>
                            <div class="col-md-12">

                                <div class="form-group">
                                    <input type="password" name="password" class="form-control" placeholder="Password *" value="" required />
                                </div>
                                <a href="@Url.Action("LostPassword","Main")">FORGET PASSWORD ?</a> <a href="@Url.Action("landing","Main")" style="float:right">CANCEL</a>
                                <div>
                                    <input type="submit" class="btnRegister" value="Login" />
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    -->

</div>

