﻿
@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <p>An Updated Password Will be Sent to Your Registered Email</p>
            <a href="@Url.Action("Login","Main")">     <input type="button" value="Login" /><br /></a>
        </div>
        <div class="col-md-9 register-right">
         
            <form action="@Url.Action("LostPassword","Main")" method="post">
                <div class="tab-content" id="myTabContent">
                    @{
                        if (ViewBag.msg != null)
                        {
                            <center style="color:white;margin-top:-4%">  @ViewBag.msg</center>
                        }
                    }
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    

                        <h3 class="register-heading"> Forget Password</h3>
                        <div class="row register-form">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email_address" placeholder="Your Email *" value="" required />
                                </div>


                                <div>
                                    <input type="submit" class="btnRegister" value="Submit" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

