﻿@{
    Layout = null;
}
<!DOCTYPE HTML>

<head>
    <title>Patient_Score</title>
    <link href="~/signupstyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ledf8MUAAAAAGRBNN6VGcTXL3E4kP0k6Abb98Wi"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Ledf8MUAAAAAGRBNN6VGcTXL3E4kP0k6Abb98Wi', { action: 'Register' }).then(function (token) {

               document.getElementById("retoken").value = token;
            });
        });
    </script>

</head>

<script>
      
        function Compass()
        {
            debugger
            var a = document.getElementById("confirm").value;
            var b = document.getElementById("main").value;
            if(a==b)
            {
                document.getElementById("password").disabled = false;
                document.getElementById("error").innerHTML = "";
            }
            else {
                document.getElementById("password").disabled = true;
                document.getElementById("error").innerHTML = "Password Not Matched";
            }
        }

</script>



<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">  
        <div class="col-md-3 register-left">
            <p>You are 30 seconds away from Becoming Part of Patient-score!</p>
            <a href="@Url.Action("Login","Main")"><input type="button" name="" value="Login"  /></a>

        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Provider</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <h4 class="register-heading">Register Here to Join Us</h4>
                   
                   

                    <form action="@Url.Action("Register","Main")" method="post">
                        <div class="register-form">
                            <div class="row ">
                                <div class="col-12">
                                    @{
                                        if (ViewBag.msg != null)
                                        {
                                            <center style="color:red;font-size:20px;">  @ViewBag.msg</center>
                                        }
                                    }
                                </div>

                            </div>
                            <div class="row">




                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fname" placeholder="First Name *" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="lastname" placeholder="Last Name *" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="main" name="password" placeholder="Password *" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirm" placeholder="Confirm Password *" value="" oninput="Compass()" />
                                        <span id="error"></span>

                                    </div>
                                    <div class="form-group">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email_address" placeholder="Your Email *" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" minlength="10" maxlength="10" name="phone" class="form-control" placeholder="Your Phone *" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="liceanse" class="form-control" placeholder="LicenseNumber">
                                    </div>

                                    <!--

    <div class="form-group">
        <input type="text" name="cures_userid" class="form-control" placeholder="CURES user id*" value="" required />
    </div>
    <div class="form-group">
        <input type="password" name="cures_password" class="form-control" placeholder="CURES Password*" required />
    </div>
    -->

                                    <div>
                                        <input type="hidden" id="retoken" name="retoken" />
                                        <input type="submit" id="password" class="btnRegister" value="Register" />
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
