﻿@model IEnumerable<AppMODEL.PatientDetailModel>
@{

    ViewBag.Title = "ScoreList";
}

@section css {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

@section  js{

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


}

<script>
    $(document).ready(function () {
        $('#patientsTable').DataTable();
    });
</script>


<table class="table table-bordered table-bordered" id="patientsTable">
    <thead>


        <tr class="text-success">

            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <!--
                
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            -->
            <th>View</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <!--
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>

         <td>
        @Html.DisplayFor(modelItem => item.Adres)
    </td>
    -->

            <td><a href="@Url.Action("CheckScoreAuto", "Main", new { pid= item.patient_id})">View</a></td>
        </tr>
        }
    </tbody>

</table>
